# STWDO Offer Monitor Config

# Notification
NOTIFY_METHOD=console
# TELEGRAM_BOT_TOKEN=your_token
# TELEGRAM_CHAT_ID=your_id

# Auto-Apply Config
DRY_RUN=true
APP_EMAIL=REPLACE_WITH_YOUR_TEMP_MAIL
APP_FIRST_NAME=mow
APP_LAST_NAME=owok
APP_PHONE=+49 1579 123456
APP_BIRTHDAY=30.03.1990
APP_NATIONALITY=Österreich
APP_UNIVERSITY=TU-Dortmund
